pkgbase = aurview
	pkgdesc = Read-only AUR/package metadata browser TUI
	pkgver = 0.4.1
	pkgrel = 1
	url = https://github.com/kristyancarvalho/aurview
	arch = x86_64
	arch = aarch64
	license = MIT
	makedepends = go
	options = !debug
	source = aurview_0.4.1_source.tar.gz::https://github.com/kristyancarvalho/aurview/releases/download/v0.4.1/aurview_0.4.1_source.tar.gz
	sha256sums = fd669bb7d769b1b92578b48182a025c1ab70fc81a44821ab95144f9c46a9a40a

pkgname = aurview
