pkgbase = aurview
	pkgdesc = Read-only AUR/package metadata browser TUI
	pkgver = 0.4.0
	pkgrel = 1
	url = https://github.com/kristyancarvalho/aurview
	arch = x86_64
	arch = aarch64
	license = MIT
	makedepends = go
	options = !debug
	source = aurview_0.4.0_source.tar.gz::https://github.com/kristyancarvalho/aurview/releases/download/v0.4.0/aurview_0.4.0_source.tar.gz
	sha256sums = 0c8e891b4022c608e94db7f1509b4c92d85dcabbf4dbce4356e246dea313b4d4

pkgname = aurview
